@import "../../variables";

.wrapper {
  padding: $common-paddings;
  .listWrap {
    display: flex;
    flex-direction: row;
  }
  .usersList {
    width: 30%;
  }
  .postsList {
    width: 70%;

  }
}
